<div class="container">
  <div>
    <!-- Sign Up Form -->
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="user_Name">
        <div *ngIf="signUpForm.get('user_Name')?.touched && signUpForm.get('user_Name')?.invalid">
          <small *ngIf="signUpForm.get('user_Name')?.errors?.['required']">Name is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="user_Email">
        <div *ngIf="signUpForm.get('user_Email')?.touched && signUpForm.get('user_Email')?.invalid">
          <small *ngIf="signUpForm.get('user_Email')?.errors?.['required']">Email is required</small>
          <small *ngIf="signUpForm.get('user_Email')?.errors?.['user_Email']">Email is invalid</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password_Hash">
        <div *ngIf="signUpForm.get('password_Hash')?.touched && signUpForm.get('password_Hash')?.invalid">
          <small *ngIf="signUpForm.get('password_Hash')?.errors?.['required']">Password is required</small>
          <small *ngIf="signUpForm.get('password_Hash')?.errors?.['minlength']">Password must be at least 8
            characters</small>
          <small *ngIf="signUpForm.get('password_Hash')?.errors?.['pattern']">Password must contain: 1 uppercase letter, 1
            lowercase letter, 1 number</small>
        </div>
      </div>
      <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
  </div>
</div>