<section class="main">
  <header class="admin-header">
    <nav>
      <span class="menu-icon" (click)="toggleDropdown()">
        <span class="material-symbols-outlined">menu</span> Admin Dashboard
      </span>
      <div id="dropdown" class="dropdown-content" [class.show]="dropdownVisible">
        <a (click)="toggleManageTours()">Manage Tours</a>
        <a (click)="toggleManageHotels()">Manage Hotels</a>
        <!-- <a [routerLink]="['/manage-users']">Manage Users</a> -->
      </div>
    </nav>
  </header>

  <section class="manage-packages" id="manage-packages">
    <h2 class="heading"><span>Manage Tours</span></h2>

    <div class="crud-container" id="add-package-form-container" *ngIf="showPackageForm">
      <div class="close-icon" (click)="closeForm()">X</div>
      <form (ngSubmit)="addTour()" [formGroup]="addPackageForm" >
        <h3>Add New Package</h3>
        <input type="url" formControlName="tour_Img" placeholder="Image URL">
        <div *ngIf="addPackageForm.get('tour_Img')?.touched && addPackageForm.get('tour_Img')?.invalid">
          <small *ngIf="addPackageForm.get('tour_Img')?.errors?.['required']">Image URL is required</small>
          
        </div>
        <input type="text" formControlName="tour_Name" placeholder="Package Name">
        <div *ngIf="addPackageForm.get('tour_Name')?.touched && addPackageForm.get('tour_Name')?.invalid">
          <small *ngIf="addPackageForm.get('tour_Name')?.errors?.['required']">Package Name is required</small>
        </div>
        <input type="text" formControlName="tour_Destination" placeholder="Destination">
        <div *ngIf="addPackageForm.get('tour_Destination')?.touched && addPackageForm.get('tour_Destination')?.invalid">
          <small *ngIf="addPackageForm.get('tour_Destination')?.errors?.['required']">Destination is required</small>
        </div>
        <input type="text" formControlName="tour_Description" placeholder="Description">
        <div *ngIf="addPackageForm.get('tour_Description')?.touched && addPackageForm.get('tour_Description')?.invalid">
          <small *ngIf="addPackageForm.get('tour_Description')?.errors?.['required']">Description is required</small>
        </div>
        <input type="number" formControlName="tour_Price" placeholder="Price">
        <div *ngIf="addPackageForm.get('tour_Price')?.touched && addPackageForm.get('tour_Price')?.invalid">
          <small *ngIf="addPackageForm.get('tour_Price')?.errors?.['required']">Price is required</small>
          <small *ngIf="addPackageForm.get('tour_Price')?.errors?.['min']">Price must be a positive number</small>
        </div>
        <button type="submit" class="btn" [disabled]="addPackageForm.invalid">Add Package</button>
      </form>
    </div>

    <div id="package-list">
      <div *ngFor="let tour of tours" class="tour-item">
        <img [src]="tour.tour_Img" alt="{{tour.tour_Img}}">
        <h3>{{tour.tour_Name}}</h3>
        <p>{{tour.tour_Destination}}</p>
        <p>{{tour.tour_Description}}</p>
        <p>${{tour.tour_Price}}</p>
        <button (click)="deleteTour(tour.tour_Id)">Delete</button>
      </div>
    </div>
  </section>


  <section class="manage-packages" id="manage-packages">
    <h2 class="heading"><span>Manage Hotels</span></h2>

    <div class="crud-container" id="add-tour-form-container" *ngIf="showHotelForm">
      <div class="close-icon" (click)="closeFormHotel()">x</div>
      <form (ngSubmit)="addHotel()" [formGroup]="addHotelForm" >
        <h3>Add New Hotel</h3>

        <input type="url" formControlName="hotel_Img" placeholder="Image URL">
        <div *ngIf="addHotelForm.get('hotel_Img')?.touched && addHotelForm.get('hotel_Img')?.invalid">
          <small *ngIf="addHotelForm.get('hotel_Img')?.errors?.['required']">Image URL is required</small>
        </div>

        <input type="text" formControlName="hotel_Name" placeholder="Hotel Name">
        <div *ngIf="addHotelForm.get('hotel_Name')?.touched && addHotelForm.get('hotel_Name')?.invalid">
          <small *ngIf="addHotelForm.get('hotel_Name')?.errors?.['required']">Hotel Name is required</small>
        </div>
        <input type="text" formControlName="hotel_Location" placeholder="Hotel Location">
        <div *ngIf="addHotelForm.get('hotel_Location')?.touched && addHotelForm.get('hotel_Location')?.invalid">
          <small *ngIf="addHotelForm.get('hotel_Location')?.errors?.['required']">Location is required</small>
        </div>

        <input type="text" formControlName="hotel_Rating" placeholder="Hotel Rating">
        <div *ngIf="addHotelForm.get('hotel_Rating')?.touched && addHotelForm.get('hotel_Rating')?.invalid">
          <small *ngIf="addHotelForm.get('hotel_Rating')?.errors?.['required']">Hotel Rating is required</small>
        </div>
        
        <button type="submit" class="btn" [disabled]="addHotelForm.invalid">Add Hotel</button>
      </form>
    </div>

    <div id="package-list">
      <div *ngFor="let hotel of hotels" class="tour-item">
        <img [src]="hotel.hotel_Img" alt="{{ hotel.hotel_Img}}">
        <h3>{{hotel.hotel_Name}}</h3>
        <p>{{hotel.hotel_Location}}</p>
        <p>{{hotel.hotel_Rating}}</p>
        <button (click)="deleteHotel(hotel.hotel_Id)">Delete</button>
      </div>
    </div>
  </section>
</section>
